{% extends "users/base.html" %}
{% block content %}
<h3> Ride {{request_id.id}} Basic Info</h3>
<div>
    <table>
      <tr>
        <th>Destination</th>
        <th>Date/time</th>
	<th># of passangers</th>
	<th>Can share?</th>
	<th>status</th>
      </tr>
      <tr>
	<td>{{request_id.destination}}</td>
	<td>{{request_id.arrivaltime}}</td>
	<td>{{request_id.NumPassanger}}</td>
	<td>{{request_id.CanShare}}</td>
	<td>{{request_id.status}}</td>
      </tr>
    </table>
  
</div>
<h3> Ride {{request_id.id}} Vehicle Info</h3>  
<div>
    <table>
      <tr>
        <th>Vehicle Driver Email</th>
        <th>Vehicle Plate</th>
	<th>Vehicle Type</th>
      </tr>
      <tr>
	<td>{{driver.email}}</td>
	<td>{{car.plate_number}}</td>
	<td>{{car.vehicle_type}}</td>
      </tr>
    </table>
  
</div>







{% endblock content %}  
